.font-size-logo {
    font-size: 3rem;
}

.sign-in:hover {
    background-color: transparent;
    border-color: var(--blue-4);
    color: var(--blue-4);
    transition: 0.5s;
}

.social-media a {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2rem;
    width: 2rem;
}

.facebook-icon {
    background-image: url(../images/icons/facebook.png);
}

.google-icon {
    background-image: url(../images/icons/google.png);
}

.apple-icon {
    background-image: url(../images/icons/apple.png);
}

.social-media a:hover {
    transform: scale(1.25);
    transition: 0.5s;
}

.footer-links a:hover {
    color: var(--grey-1);
}

@media (min-width: 960px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        /* width: 100vw; */
        /* max-width: 1200px; */
    }    

    .vector-image {
        background-image: url(../images/vectors/login.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        width: 50%;
        margin-right: 2rem;
        /* height: 656.2px; */
    }

    .login-side {
        width: 50%;
        /* padding: 5%; */
    }
}

/* deixei aqui pra caso precise!! */
/* body {
    display: flex;
    align-items: center;
} */
