.font-size-logo {
    font-size: 3rem;
}

.sign-in:hover {
    background-color: transparent;
    border-color: var(--blue-4);
    color: var(--blue-4);
    transition: 0.5s;
}

.social-media a {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2rem;
    width: 2rem;
}

.facebook-icon {
    background-image: url(../images/icons/facebook.png);
}

.google-icon {
    background-image: url(../images/icons/google.png);
}

.apple-icon {
    background-image: url(../images/icons/apple.png);
}

.social-media a:hover {
    transform: scale(1.25);
    transition: 0.5s;
}

.footer-links a:hover {
    color: var(--grey-1);
}

.vector-side {
    display: none;
}

@media (min-width: 960px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: white; */
        border-radius: 0.375rem;
    }
    
    .vector-side {
        display: block;
        width: 50%;
        margin-right: 2rem;
    }

    .vector {
        width: 100%;
        border-radius: 0.375rem;
    }

    .login-side {
        width: 50%;
    }
/*
    .sign-in {
        background-color: var(--blue-2);
        color: var(--blue-4);
    }

    .dif-font-color {
        color: var(--blue-2);
    } */
}
