.profile-icon {
    width: 6.25rem ;
}

.plus-icon {
    width: 1.90rem;
}

.plus-icon:hover {
    transform: scale(1.25);
    transition: 0.5s;
}

.border-my-blue-3:hover {
    background-color: var(--white-1);
}

.terms-link:hover {
    color: var(--blue-4)
}

.agree-checkbox:hover {
    color: var(--blue-2);
}

.cancel-btn:hover {
    background-color: var(--blue-1);
    color: var(--grey-1);
    transition: 0.5s;
}

.register-btn:hover {
    background-color: var(--blue-4);
    color: var(--blue-1);
    transition: 0.5s;
}
